h1 {
  color: yellow;
  padding: 15px;
  background-color: black;
  border-radius: 40px 40px 0px 0px;
  text-align: center;
}
h2{
  color: white;
}
img {
  float: left;
  height: 700px;
  width: 350px;
  border-radius: 25px;
  border: 2px solid #73ad21;
  box-shadow: 10px 10px yellow;
  width: 350px;
  height: 700px;
}

}
h1{
color:yellow;
float: right;
font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
margin-right: 400px;
display: inline-block;
}

}
h2{
 font-family: Georgia, 'Times New Roman', Times, serif;
 margin: 40%;
 
}
span{
  color: red;
}
body{
  background-color: rgba(20,20,20,1);
}
h2:hover{
  background-color: black;
  border-radius: 30px 10px 10px 30px;
  
}
h2{
  margin-left:40%;
  padding: 15px;
}
.know_me{
  margin-left: 30%

}
.four{
  color:white;
}
.three{
  color:white;
}

.two{
  color:white;
}

.one{
  color:white;
}


.four:hover {
  background-color: yellow;
  border-radius: 30px 30px 30px 30px;
  color: black;

}
.three:hover{
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  color: black;

}
.two:hover{
  background-color: yellow;
  border-radius: 30px 30px 30px 30px;
  color: black;

}

.one:hover{
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  color: black;

}
ul{
  font-family: cursive;
}
.menu{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  font-size: 20px;
}
li a:hover:not(.active) {
  background-color: yellow;
}

.active {
  background-color: white;
}
