h1 {
  text-align: center;
}
.exp {
    float: right: ;
    color: black;
    padding: 70px;
    text-align: center;
    position: relative;
    
}
.main {
    color: blanchedalmond;
    background-color: #080808;
    padding: 100px;
}
.edu{
    float: left;
    padding: 30px;
    padding-bottom: 50px;
}
.designing {box-sizing: border-box}

.container {
  width: 50%;
  background-color: #ddd;
  border-radius: 5px;
  
}

.skills {
  text-align: right;
  padding-top: 0.25px;
  padding-bottom: 0.25px;
  color: white;
  border-radius: 5px;

}

.html {width: 90%; background-color: #04AA6D;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}

.designing h2{
    text-align:initial;
}

.both{
  color: black;
    padding: 20px;
    border-radius:10px ;
    text-align: center;
    background-color: rgb(131, 113, 113);
}
i{
  font-size: 25px;
  }
  
  .designing i{
    color: ivory;
  }